.ipynb_checkpoints/
*.swp

circuits.csv
constructor_results.csv
constructors.csv
constructor_standings.csv
drivers.csv
driver_standings.csv
lap_times.csv
pit_stops.csv
qualifying.csv
races.csv
results.csv
seasons.csv
status.csv
